@model MyStore.Models.CustomerLoginModel
@{
    ViewData["Title"] = "CustomerLogin";
}



<form asp-action="CustomerLogin">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row" style="height:800px">
        <div class="col-lg-6 align-items-center d-flex ">
            <img src="https://hc.com.vn/i/ecommerce/media/ckeditor_2925202.jpg" alt="Alternate Text" width="500px"/>
        </div>
        <div class="col-lg-6 align-items-center d-flex ">
            <div class="row">
                <h4 class="col-lg-12">ĐĂNG NHẬP BẰNG SỐ ĐIỆN THOẠI</h4>
                <div class="form-group col-lg-12">
                    <input asp-for="CustomerPhoneNumber" type="number" class="form-control" />
                    <span asp-validation-for="CustomerPhoneNumber" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</form>
